{% extends 'index.html' %}
{% block content %}
        <div class="container text-center">
            <br><br>
            <div style="font-size: 20pt;">
                <i class="fas fa-sign-out-alt fa-10x"></i>
            </div>
            <br><br>
            <h2 class="text-primary">You Have</h2>
            <h2 class="text-warning">Been</h2>
            <h2 class="text-danger">Logged Out</h2>
            <h4 class="font-weight-bold">Thank You for Using Our Website</h4>
            <br>
            <h6>Please <a href="/login/" class="text-success text-decoration-none">Click here </a>to login back to out website</h4>
        
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}