{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <img src="{{obj.image.url}}" class="img-thumbnail" alt="...">
        </div>
        <div class="col-6 text-justify">
            <h1>Name : {{obj.name}}</h1>
            <h3>Age : {{obj.age}}</h3>
            <h3>Gender : {{obj.gender}}</h3>
            <h3>City : {{obj.city}}</h3>
            <h3>State : {{obj.state}}</h3>
            <h3>Pincode : {{obj.pincode}}</h3>
            <h3>Country : {{obj.country}}</h3>
            <h3>Dol : {{obj.dol}}</h3>
            <h3>Missing Detail : {{obj.last_seen}}</h3>
            <h3>Dob : {{obj.dob}}</h3>
            <h3>Mobileno : {{obj.mobileno}}</h3>
            {% if obj.status is False %}
                <h3>Status : Not Found</h3>
            {% else %}
                <h3>Status : Found</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}