{% extends 'index.html' %}
{% block content %}

<div class="container mt-5 mb-5">
  <div class="row">
    {% for obj in record %}
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{{ obj.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{obj.name}}</h5>
          <p class="card-text">{{obj.last_seen}}</p>
          <button onclick="location.href='/delete/{{obj.id}}'" class="btn btn-danger">Delete</button>
          <button onclick="location.href='/report-found/{{obj.id}}'" class="btn btn-primary">Found</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>    
</div>

{% endblock %}