.follow {
    vertical-align: middle;
  }

  .btn-outline-fb {
    color: blue;
  }
  
  .btn-outline-fb:hover {
    background-color:blue;
    color:white;
  }
  
  .btn-outline-insta {
    color: #fb3958;
  }
  
  .btn-outline-insta:hover {
    background-color:#fb3958;
    color:white;
  }

  .text-magenta {
    color: #003f88;
  }

  .text-magenta:hover { 
    color: #4361ee;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 16pt;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
  text-decoration : none;
  color: aliceblue;
}  
  
.active {
  background-color: #4CAF50;
}

.active:hover {
  color: black;
  background-color: #7ed680;
}



